body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
}

body#indexbody h5.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;        /* sadece 2 satır göster */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

body#indexbody .card {
  height: 300px; /* ihtiyacına göre ayarla */
  overflow: hidden;
  transition: 300ms all;
}


body#indexbody .card:hover {
  background: #eee;
}

body#indexbody .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;        /* sadece 5 satır göster */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

body#adminbody #contentsTableBody tr td{
  display: -webkit-box;          /* Çok satırlı kesme için gerekli */
  -webkit-line-clamp: 1;         /* Görüntülenecek satır sayısı */
  -webkit-box-orient: vertical;  /* Kutunun yönü dikey */
  overflow: hidden;              /* Taşanı gizle */
  text-overflow: ellipsis;       /* Taşan metni ... olarak göster */
  white-space: normal;           /* Metni normal akışta tut */
}