body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
}

body#indexbody h5.card-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;        /* sadece 2 satır göster */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

body#indexbody .card {
  height: 300px; /* ihtiyacına göre ayarla */
  overflow: hidden;
  transition: 300ms all;
}


body#indexbody .card:hover {
  background: #eee;
}

body#indexbody .card-text {
  display: -webkit-box;
  -webkit-line-clamp: 5;        /* sadece 5 satır göster */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

body#adminbody .tab tbody#contentsTableBody td {
  display: -webkit-box;
  -webkit-line-clamp: 1;        /* sadece 2 satır göster */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}